<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Name Pronunciation Tool</title>
  </head>
  <body>
      <div class="container-fluid p-2 bg-primary text-white text-center">
          <h1>Name Pronunciation Tool</h1>
      </div>
      </br>
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action = "" method = "GET">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" required="true" name="emp_id_or_name" id="emp_id_or_name" value="{{ data.emp_id_or_name }}" placeholder="Enter Employee Id">
                    </br>
                    <button type="submit" class="btn btn-primary btn-md">Search</button>
                  </div></br>
                  <div class="form-group">
                    <label for="emp_id">Employee Id</label>
                    <input id="emp_id" class="form-control" type="text" name="emp_id" value="{{ data.employee.emp_id }}" disabled></br>
                    <label for="emp_name">Employee Name</label>
                    <input id="emp_name" class="form-control" type="text" name="emp_name" value="{{ data.employee.emp_name }}" disabled></br>
                    <label for="emp_dept">Department</label>
                    <input id="emp_dept" class="form-control" type="text" name="emp_department" value="{{ data.employee.emp_department }}" disabled></br>
                    <label for="emp_org">Organization</label>
                    <input id="emp_org" class="form-control" type="text" name="emp_organization" value="{{ data.employee.emp_organization }}" disabled></br>
                    <label for="emp_pre_name">Preferred Name</label>
                    <input id="emp_pre_name" class="form-control" type="text" name="emp_preferred_name" value="{{ data.employee.emp_preferred_name|default_if_none:'' }}" disabled></br>
                  </div>
                </form>
            </div>
            <div class="col-md-6">
              <form action = "" method = "POST">
                {% csrf_token %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="std_ctm_pronunciation" id="standard_pronunciation" value="STD" {% if data.standard_pronunciation %} checked {% endif %}>
                  <label class="form-check-label" for="standard_pronunciation">
                    Standard Pronunciation
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="std_ctm_pronunciation" id="custom_pronunciation" value="CTM" {% if data.custom_pronunciation %} checked {% endif %}>
                  <label class="form-check-label" for="custom_pronunciation">
                    Custom Pronunciation
                  </label>
                </div>
                </br>
                <div class="form-group">
                    <label for="languageselect">Language</label>
                    <select id="languageselect" name="languageselect" class="form-select" data-bi-id="demo-language-selector">
                        <option value="af-ZA">Afrikaans (South Africa)</option>
                        <option value="am-ET">Amharic (Ethiopia)</option>
                        <option value="ar-DZ">Arabic (Algeria)</option>
                        <option value="ar-BH">Arabic (Bahrain)</option>
                        <option value="ar-EG">Arabic (Egypt)</option>
                        <option value="ar-IQ">Arabic (Iraq)</option>
                        <option value="ar-JO">Arabic (Jordan)</option>
                        <option value="ar-KW">Arabic (Kuwait)</option>
                        <option value="ar-LY">Arabic (Libya)</option>
                        <option value="ar-MA">Arabic (Morocco)</option>
                        <option value="ar-QA">Arabic (Qatar)</option>
                        <option value="ar-SA">Arabic (Saudi Arabia)</option>
                        <option value="ar-SY">Arabic (Syria)</option>
                        <option value="ar-TN">Arabic (Tunisia)</option>
                        <option value="ar-AE">Arabic (United Arab Emirates)</option>
                        <option value="ar-YE">Arabic (Yemen)</option>
                        <option value="bn-BD">Bangla (Bangladesh)</option>
                        <option value="bn-IN">Bengali (India)</option>
                        <option value="bg-BG">Bulgarian (Bulgaria)</option>
                        <option value="my-MM">Burmese (Myanmar)</option>
                        <option value="ca-ES">Catalan (Spain)</option>
                        <option value="zh-HK">Chinese (Cantonese, Traditional)</option>
                        <option value="zh-CN">Chinese (Mandarin, Simplified)</option>
                        <option value="zh-TW">Chinese (Taiwanese Mandarin)</option>
                        <option value="hr-HR">Croatian (Croatia)</option>
                        <option value="cs-CZ">Czech (Czech)</option>
                        <option value="da-DK">Danish (Denmark)</option>
                        <option value="nl-BE">Dutch (Belgium)</option>
                        <option value="nl-NL">Dutch (Netherlands)</option>
                        <option value="en-AU">English (Australia)</option>
                        <option value="en-CA">English (Canada)</option>
                        <option value="en-HK">English (Hongkong)</option>
                        <option value="en-IN">English (India)</option>
                        <option value="en-IE">English (Ireland)</option>
                        <option value="en-KE">English (Kenya)</option>
                        <option value="en-NZ">English (New Zealand)</option>
                        <option value="en-NG">English (Nigeria)</option>
                        <option value="en-PH">English (Philippines)</option>
                        <option value="en-SG">English (Singapore)</option>
                        <option value="en-ZA">English (South Africa)</option>
                        <option value="en-TZ">English (Tanzania)</option>
                        <option value="en-GB">English (United Kingdom)</option>
                        <option value="en-US" selected="selected">English (United States)</option>
                        <option value="et-EE">Estonian (Estonia)</option>
                        <option value="fil-PH">Filipino (Philippines)</option>
                        <option value="fi-FI">Finnish (Finland)</option>
                        <option value="fr-BE">French (Belgium)</option>
                        <option value="fr-CA">French (Canada)</option>
                        <option value="fr-FR">French (France)</option>
                        <option value="fr-CH">French (Switzerland)</option>
                        <option value="gl-ES">Galician (Spain)</option>
                        <option value="de-AT">German (Austria)</option>
                        <option value="de-DE">German (Germany)</option>
                        <option value="de-CH">German (Switzerland)</option>
                        <option value="el-GR">Greek (Greece)</option>
                        <option value="gu-IN">Gujarati (India)</option>
                        <option value="he-IL">Hebrew (Israel)</option>
                        <option value="hi-IN">Hindi (India)</option>
                        <option value="hu-HU">Hungarian (Hungary)</option>
                        <option value="is-IS">Icelandic (Iceland)</option>
                        <option value="id-ID">Indonesian (Indonesia)</option>
                        <option value="ga-IE">Irish (Ireland)</option>
                        <option value="it-IT">Italian (Italy)</option>
                        <option value="ja-JP">Japanese (Japan)</option>
                        <option value="jv-ID">Javanese (Indonesia)</option>
                        <option value="kn-IN">Kannada (India)</option>
                        <option value="kk-KZ">Kazakh (Kazakhstan)</option>
                        <option value="km-KH">Khmer (Cambodia)</option>
                        <option value="ko-KR">Korean (Korea)</option>
                        <option value="lo-LA">Lao (Laos)</option>
                        <option value="lv-LV">Latvian (Latvia)</option>
                        <option value="lt-LT">Lithuanian (Lithuania)</option>
                        <option value="mk-MK">Macedonian (Republic of North Macedonia)</option>
                        <option value="ms-MY">Malay (Malaysia)</option>
                        <option value="ml-IN">Malayalam (India)</option>
                        <option value="mt-MT">Maltese (Malta)</option>
                        <option value="mr-IN">Marathi (India)</option>
                        <option value="nb-NO">Norwegian (Bokmål, Norway)</option>
                        <option value="ps-AF">Pashto (Afghanistan)</option>
                        <option value="fa-IR">Persian (Iran)</option>
                        <option value="pl-PL">Polish (Poland)</option>
                        <option value="pt-BR">Portuguese (Brazil)</option>
                        <option value="pt-PT">Portuguese (Portugal)</option>
                        <option value="ro-RO">Romanian (Romania)</option>
                        <option value="ru-RU">Russian (Russia)</option>
                        <option value="sr-RS">Serbian (Serbia, Cyrillic)</option>
                        <option value="si-LK">Sinhala (Sri Lanka)</option>
                        <option value="sk-SK">Slovak (Slovakia)</option>
                        <option value="sl-SI">Slovenian (Slovenia)</option>
                        <option value="so-SO">Somali (Somalia)</option>
                        <option value="es-AR">Spanish (Argentina)</option>
                        <option value="es-BO">Spanish (Bolivia)</option>
                        <option value="es-CL">Spanish (Chile)</option>
                        <option value="es-CO">Spanish (Colombia)</option>
                        <option value="es-CR">Spanish (Costa Rica)</option>
                        <option value="es-CU">Spanish (Cuba)</option>
                        <option value="es-DO">Spanish (Dominican Republic)</option>
                        <option value="es-EC">Spanish (Ecuador)</option>
                        <option value="es-SV">Spanish (El Salvador)</option>
                        <option value="es-GQ">Spanish (Equatorial Guinea)</option>
                        <option value="es-GT">Spanish (Guatemala)</option>
                        <option value="es-HN">Spanish (Honduras)</option>
                        <option value="es-MX">Spanish (Mexico)</option>
                        <option value="es-NI">Spanish (Nicaragua)</option>
                        <option value="es-PA">Spanish (Panama)</option>
                        <option value="es-PY">Spanish (Paraguay)</option>
                        <option value="es-PE">Spanish (Peru)</option>
                        <option value="es-PR">Spanish (Puerto Rico)</option>
                        <option value="es-ES">Spanish (Spain)</option>
                        <option value="es-UY">Spanish (Uruguay)</option>
                        <option value="es-US">Spanish (United States)</option>
                        <option value="es-VE">Spanish (Venezuela)</option>
                        <option value="su-ID">Sundanese (Indonesia)</option>
                        <option value="sw-KE">Swahili (Kenya)</option>
                        <option value="sw-TZ">Swahili (Tanzania)</option>
                        <option value="sv-SE">Swedish (Sweden)</option>
                        <option value="ta-IN">Tamil (India)</option>
                        <option value="ta-SG">Tamil (Singapore)</option>
                        <option value="ta-LK">Tamil (Sri Lanka)</option>
                        <option value="te-IN">Telugu (India)</option>
                        <option value="th-TH">Thai (Thailand)</option>
                        <option value="tr-TR">Turkish (Turkey)</option>
                        <option value="uk-UA">Ukrainian (Ukraine)</option>
                        <option value="ur-IN">Urdu (India)</option>
                        <option value="ur-PK">Urdu (Pakistan)</option>
                        <option value="uz-UZ">Uzbek (Uzbekistan)</option>
                        <option value="vi-VN">Vietnamese (Vietnam)</option>
                        <option value="cy-GB">Welsh (United Kingdom)</option>
                        <option value="zu-ZA">Zulu (South Africa)</option>
                    </select>
                    </div></br>
                    <div>
                        <label for="voiceselect">Voice</label>
                        <select id="voiceselect" name="voiceselect" class="form-select" data-bi-id="demo-voice-selector">
                            <option value="en-US-JennyNeural">Jenny (Neural)</option>
                            <!--<option value="ChristopherNeural">Christopher (Neural)</option> -->
                        </select>
                    </div></br>
                    <div>
                        <label for="voicestyleselect">Speaking style</label>
                        <select id="voicestyleselect" name="voicestyleselect" class="form-select" data-bi-id="demo-voicestyle-selector">
                            <option value="general">General</option>
                        </select>
                    </div></br>
                    <div>
                        <input type="submit" class="btn btn-primary btn-md" value="Speak"></br></br>
                        <audio controls id="player" autoplay>
                            <source src="{{ data.name_pronunciation.data.audio_file }}" type="audio/mp3">
                        </audio></br></br>
                        <label>Audio File URL</label></br>
                        <label>{{ data.name_pronunciation.data.audio_file }}</label>
                    </div>
                </form>
            </div>
        </div>
        {% block javascript %}
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script>
            $("#languageselect").change(function () {
                const languageId = $(this).val();  // get the selected language ID from the HTML dropdown list
                $.ajax({                       // initialize an AJAX request
                    type: "POST",
                    url: '{% url "get_voicenames" %}',
                    data: {
                        'language_id': languageId,       // add the language id to the POST parameters
                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function (data) {   // `data` is from `get_voicenames` view function
                        let html_data = '<option value="">Choose Voice</option>';
                        data.forEach(function (data) {
                            html_data += `<option value="${data.id}">${data.title}</option>`
                        });
                        $("#voiceselect").html(html_data); // replace the contents of the topic input with the data that came from the server
                    }
                });
            });
        </script>
        {% endblock javascript %}
        <!-- Error Alert -->
        <div class="alert alert-danger alert-dismissible fade show" style="display: none;">
            <strong>Error!</strong> Get Employee Details to Proceed Further.
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      </div>
   </body>
</html>